/* book.css */

.form-group {
  max-width: 400px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
}

.btn {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0069d9;
}

/* Custom styling for form fields */
input[type="text"],
input[type="email"],
input[type="date"],
input[type="number"],
input[type="password"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

/* Additional styling for specific form fields */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="date"]:focus,
select:focus {
  outline: none;
  border-color: #80bdff;
  box-shadow: 0 0 8px #80bdff;
}

.login-btn {
  margin-bottom: 0;
  text-decoration: none;
  background-color: #6ab346;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-btn:hover {
  color: white;
  background-color: #508b33;
  transition: 0.8s;
}

.custom-checkbox {
  display: flex;
  align-items: center;
}

.custom-checkbox-input {
  width: 16px;
  height: 16px;
}

.custom-checkbox-label {
  font-size: 15px;
  opacity: 0.8;
  margin-left: 5px;
}