{% extends 'base.html.twig' %}

{% block title %}New Schedule{% endblock %}

{% block body %}
    <h1>Create a new schedule</h1>

    {{ include('schedule/_form.html.twig') }}

    <a href="{{ path('app_schedule_index') }}">back to the list</a>
{% endblock %}
